[Unit]
Description=Metro Display
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/metro_display
ExecStart=/usr/bin/python3 /home/pi/metro_display/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
